<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>jQuery reSlider</title>
<link rel="stylesheet" href="assets/lib/jquery.ex-code-prettify/google-code-prettify/prettify.css">
<link rel="stylesheet" href="assets/lib/jquery.ex-code-prettify/jquery.ex-code-prettify.css">
<link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="assets/css/jquery.re-slider.css">
<link rel="stylesheet" href="assets/css/demo.css">
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/js/jquery.re-slider.js"></script>
<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/lib/jquery.ex-code-prettify/google-code-prettify/prettify.js"></script>
<script src="assets/lib/jquery.ex-code-prettify/jquery.ex-code-prettify.js"></script>
<script>
$(function(){
	$('.code').exCodePrettify();
});
</script>
</head>
<body>

<div class="container">
	<div class="page-header">
		<h1>jQuery reSlider <small><a href="./">index</a></small></h1>
		<div><span class="label label-primary">jQuery</span> / <span class="label label-info">IE8</span> <span class="label label-info">IE9</span> <span class="label label-info">IE10</span> <span class="label label-info">IE11</span> <span class="label label-warning">Chrome</span> <span class="label label-danger">Firefox</span> <span class="label label-primary">Safari</span></div>
	</div>
