<% include assets/include/_header %>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">スライドショー　スライドの軸を変更</h2>
		</div>
		<div class="panel-body">
				<p>
					オプションの<code>orientation</code>でスライドの軸を縦（vertical）と横（horizontal）で変更できます。<br>
				</p>
<div class="demo">
	<script>
	$(function(){
		$('#example1_ex6').reSlider({
			orientation: 'vertical',
			rouletteLoop: true
		});
	});
	</script>
	<div class="reSlider" id="example1_ex6">
		<div class="reSlider-slide-container">
			<div class="reSlider-slides">
				<div class="reSlider-slide">
					<img src="assets/img/image01.jpg" height="750" width="1000" alt="">
				</div>
				<div class="reSlider-slide">
					<img src="assets/img/image02.jpg" height="619" width="1000" alt="">
				</div>
				<div class="reSlider-slide">
					<img src="assets/img/image03.jpg" height="667" width="1000" alt="">
				</div>
				<div class="reSlider-slide">
					<img src="assets/img/image04.jpg" height="662" width="1000" alt="">
				</div>
				<div class="reSlider-slide">
					<img src="assets/img/image05.jpg" height="667" width="1000" alt="">
				</div>
			</div>
		</div>
	</div>
</div><!-- /.demo -->

<pre class="code" data-ex-code-prettify-param="{codeType:'html'}">
&lt;script&gt;
$(function(){
	$('#example1_ex6').reSlider({
		orientation: 'vertical'
	});
});
&lt;/script&gt;
&lt;div class=&quot;reSlider&quot; id=&quot;example1_ex7&quot;&gt;
	&lt;div class=&quot;reSlider-slide-container&quot;&gt;
		&lt;div class=&quot;reSlider-slides&quot;&gt;
			&lt;div class=&quot;reSlider-slide&quot;&gt;
				&lt;img src=&quot;img/image01.jpg&quot; height=&quot;750&quot; width=&quot;1000&quot; alt=&quot;&quot;&gt;
			&lt;/div&gt;
			&lt;div class=&quot;reSlider-slide&quot;&gt;
				&lt;img src=&quot;img/image02.jpg&quot; height=&quot;619&quot; width=&quot;1000&quot; alt=&quot;&quot;&gt;
			&lt;/div&gt;
			&lt;div class=&quot;reSlider-slide&quot;&gt;
				&lt;img src=&quot;img/image03.jpg&quot; height=&quot;667&quot; width=&quot;1000&quot; alt=&quot;&quot;&gt;
			&lt;/div&gt;
			&lt;div class=&quot;reSlider-slide&quot;&gt;
				&lt;img src=&quot;img/image04.jpg&quot; height=&quot;662&quot; width=&quot;1000&quot; alt=&quot;&quot;&gt;
			&lt;/div&gt;
			&lt;div class=&quot;reSlider-slide&quot;&gt;
				&lt;img src=&quot;img/image05.jpg&quot; height=&quot;667&quot; width=&quot;1000&quot; alt=&quot;&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>

		</div>
	</div>

<% include assets/include/_footer %>
